[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/SeanMooney/vcpkg
[submodule "external/replxx"]
	path = external/replxx
	url = https://github.com/AmokHuginnsson/replxx
[submodule "external/fakeit"]
	path = external/fakeit
	url = https://github.com/eranpeer/FakeIt
